{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome to Rust Delhi !
</h1>
<br/>
<div>
    Rust Delhi is a community of people interested in learning and discussing about The Rust Programming Language and applications/libraries built using it in Delhi/NCR.
</div>
<div>
    <i>Note: This is an Unofficial group and is not endorsed by Rust.</div></i>
</div>
<br/>
<div>
    Connect with us at <a href="https://linktr.ee/rustdelhi">Meetup, Telegram, Twitter, LinkedIn or Github</a>
</div>
<br/>
<div>
    Write to us at <b>contact@rustdelhi.in</b>
</div>
<br/>
<div>
    Our Code Of Conduct is available <a href="https://github.com/rustdelhi/policies/blob/main/Code-of-Conduct.md">here</a>
    <br/>
    If you have any complaints, send us an email at <b>complaints@rustdelhi.in</b>
</div>
<br/>
<br/>
<br/>
<div>
    This website is built using <a href="https://www.getzola.org/">Zola</a>
</div>
{% endblock content %}