{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome to Rust Delhi !
</h1>
<br/>
<div>
    Rust Delhi is a community of people interested in learning and discussing about The Rust Programming Language and applications/libraries built using it in Delhi/NCR.
</div>
<div>
    <i>Note: This is an Unofficial group and is not endorsed by Rust.</div></i>
</div>
<br/>
<div>
    Connect with us at <a href="https://linktr.ee/rustdelhi">Meetup, Telegram, Twitter, LinkedIn or Github</a>
</div>
<br/>
<div>
    This website is built using <a href="https://www.getzola.org/">Zola</a>
</div>
{% endblock content %}